---
title: Add your name
---

<div id="root">
  <header>
    <h1 class="landing_header">YOU CAN MAKE AN IMPACT</h1>
  </header>
  <div class="uhw_logo_container">
    <img src="../images/UnderHisWings_logo.png"/>
  </div>
  <div class="body_text">
    <p>
      Everyday millions of women and children are forced to flee their homes and leave their communities behind. 
    </p>
    <p>
      As people of faith it is essential to love and welcome these people in need.
      In our busy lives it is so easy to forget these people or feel overwhelmed at the immensity of the task, but together we can make a difference.
    </p>
    <h4 class="form_header"></h4>
    <div class="form_container">
      <form class="signupForm">
        <label>First Name:</label>
        <input type="text" required name="givenName"/>
        <label>Last Name:</label>
        <input type="text" required name="familyName"/>
        <label>Email Address:</label>
        <input type="email" required name="email"/>
        <button class="form_submit" type="submit"></button>
      </form>
    </div>
    <p>
      We are raising awareness about the crisis and rallying Americans to action but we can’t do it on our own. Using your voice to spread this message is an essential step toward establishing a more humane, secure, and sustainable course of action to assist refugee families.
    </p>
    <p>
      We look forward to contacting you and finding ways we can work on this together.
    </p>
  </div>
</div>
