---
title: thanks
layout: thanks
---

<div class="thanks">
  <h1>Thank you for being a changemaker.</h1>
  <h4 class="incentive_header"></h4>
  <div class="incentive_copy">Thank you for adding your name to the list of those who want change!</div>
  <div class="incentives_container">
  <a class="download_link" target="_blank">
    <button class="download_button">
      <img src=""/>
    </button>
  </a>
  </div>
  <div class="image_container">
    <img src="./images/UnderHisWings_logo.png"/>
  </div>
</div