---
title: thanks
layout: thanks
---

<div class="thanks">
  <h2 class="incentive_header"></h2>
  <div class="incentive_copy">Thank you for adding your name to the list of those who want change!</div>
  <div class="incentives_container">
    <button class="download_button">
      <img src=""/>
    </button>
  </div>
  <div class="image_container">
    <img src="./images/UnderHisWings_logo.png"/>
  </div>
</div