---
title: thanks
layout: thanks
---

<div class="thanks">
  <p>Thank you for adding your name to the list of those who want change!</p>
  <div class="image_container">
    <img src="./images/UnderHisWings_logo.png"/>
  </div>
</div